html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a[routerLink] {
  font-size: 14px;
  text-decoration: none;
  color: blue;
}

// UTILS
.full-width {
  width: 100%;
}
